@import "tailwindcss";
@import "react-phone-number-input/style.css";

.scrollbar-hidden {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

.PhoneInputInput {
	border: 0;
	outline: none;
	background: transparent;
	color: inherit;
	font: inherit;
}
